table.dt-rowReorder-float {
  position: absolute !important;
  opacity: 0.8;
  table-layout: static;
  outline: 0px solid #888;
  outline-offset: -2px;
  z-index: 2001;
}

table.dt-rowReorder-float tr.highlight {
    background-color: transparent !important;
    opacity: 0;
}

tr.dt-rowReorder-moving {
  outline: 4px solid #555;
  outline-offset: -2px;
}

body.dt-rowReorder-noOverflow {
  overflow-x: hidden;
}

table.dataTable td.reorder {
  text-align: center;
  cursor: move;
}
